In [ ]:
'''  
How to install MYSQL command line on mac book:
brew install mysql
brew services start mysql
mysql -u root -p

Then install MySQL graphical user interface using MySQL Workbench
https://dev.mysql.com/downloads/workbench/

'''

In [ ]:
'''
Server--Data import--Schemas (refresh)--right click--Set as Defualt schemas
short key for execute: command+Enter or Ctrl + Enter
for saving the query(script)--- save as .sql and you can open it with "open a sql scrip" to see it
save data from Result Grid--Export data
HOW SQL EXECUTE COMMANDS: FROM -- WHERE -- GROUP BY -- HAVING -- ORDER BY
'''

In [ ]:
'''
1. SELECT: Retrieve specific columns from a table
SELECT column1, column2 FROM table_name;
SELECT title, industry FROM movies;


2. WHERE: Filter rows based on a condition
SELECT * FROM table_name WHERE condition;
SELECT * FROM movies where industry="Bollywood";
SELECT count(*) FROM movies where industry="bollywood";



4. DISTINCT: Retrieve distinct values from a column
SELECT DISTINCT column_name FROM table_name;
SELECT DISTINCT industry FROM movies;


6. LIKE: Search for a specified pattern in a column
SELECT * FROM table_name WHERE column_name LIKE 'pattern';
SELECT * FROM movies where title like "%Thor%";
SELECT * FROM movies where studio="";
SELECT * FROM movies where imdb_rating >=9;
SELECT * FROM movies where imdb_rating>=6 and imdb_rating<=8;
SELECT * FROM movies where imdb_rating between 6 and 8;
SELECT * FROM movies where release_year=2022 or release_year=2019;
SELECT * FROM movies where release_year in (2022,2019);
SELECT * FROM movies where imdb_rating is null;
SELECT * FROM movies where imdb_rating is NOT null;


8. ORDER BY: Sort the result set in ascending or descending order
SELECT * FROM table_name ORDER BY column_name ASC|DESC;
SELECT * FROM movies where industry="Bollywood" ORDER by release_year;
SELECT * FROM movies where industry="Bollywood" ORDER by release_year DESC LIMIT 5;
SELECT * FROM movies where industry="hollywood" order by release_year DESC LIMIT 10 OFFSET 1;

10. Summary Analytics (MIN, MAX, AVG, Group By): Perform summary analytics
SELECT MIN(column_name), MAX(column_name), AVG(column_name) FROM table_name GROUP BY grouping_column;
SELECT MAX(imdb_rating) from movies where industry="bollywood";
SELECT round(avg(imdb_rating),2) from movies where industry="bollywood";
SELECT round(avg(imdb_rating),2) as avg_rating from movies where industry="bollywood";

SELECT max(imdb_rating) as max_rating,
min(imdb_rating) as min_rating,
round(avg(imdb_rating),2) as avg_rating from movies where industry="bollywood"; 



12. HAVING clause: Filter results of a GROUP BY query
SELECT column_name, COUNT(*) FROM table_name GROUP BY column_name HAVING COUNT(*) > 1;
SELECT industry, count(*) from movies GROUP BY industry;
SELECT studio, avg(imdb_rating) from movies GROUP BY studio;
SELECT studio, count(*) as cnt from movies GROUP BY studio ORDER by cnt;
SELECT studio, count(*) as cnt, round(avg(imdb_rating),2) as avg_rating from movies GROUP BY studio ORDER by cnt; 
SELECT studio, count(*) as cnt, round(avg(imdb_rating),1) as avg_rating FROM movies where studio!= "" GROUP BY studio ORDER by avg_rating DESC;
SELECT release_year, count(*) as cnt from movies group by release_year having cnt >2 ORDER by cnt DESC;


14. Calculated Columns: Create calculated columns in the SELECT statement
SELECT column1, column2, column1 + column2 AS calculated_column FROM table_name;
SELECT * , YEAR(CURDATE())-birth_year as age from actors;
SELECT * ,(revenue-budget) as profit FROM financials;

15.IF conditions in the SELECT statement IF(condition, TRUE, ELSE) and CASE/END conditions:
SELECT *, IF(currency="USD", revenue*80, revenue) as revenue_cur FROM financials;

SELECT *, 
CASE
 WHEN unit="Billions" THEN revenue*1000
 WHEN unit="Thousands" THEN revenue/1000
 WHEN unit="Millions" THEN revenue
END as revenue_unit
FROM financials;

15. SQL Joins: Combine rows from two tables based on a related column
SELECT * FROM table1 INNER JOIN table2 ON table1.column_name = table2.column_name;

SELECT movies.movie_id, title, revenue, currency, unit
FROM movies
INNER JOIN financials
ON movies.movie_id=financials.movie_id;


SELECT movies.movie_id, title, revenue, currency, unit
FROM movies
LEFT JOIN financials
ON movies.movie_id=financials.movie_id

UNION

SELECT financials.movie_id, title, revenue, currency, unit
FROM movies
RIGHT JOIN financials
ON movies.movie_id=financials.movie_id;


SELECT movie_id, title, revenue, currency, unit
FROM movies
RIGHT JOIN financials
USING (movie_id);

'''